<h1>
    26 de Março: MVC Summit 2011</h1>
<p>
    Em março de 2011 acontecerá o primeiro evento brasileiro 100% focado em ASP.NET
    MVC.</p>
<p>
    A primeira edição, que será realizada em março, será <u>100% online</u>, <u>100% gratuita</u>
    e você poderá participar de qualquer lugar do Brasil e do mundo!</p>
<p>
    São @Html.ActionLink("duas trilhas", "Grade") somando mais de 15h de puro ASP.NET
    MVC. Do básico ao avançado, são conteúdos para todos níveis e perfis.</p>

<p>@Html.ActionLink("Confira aqui", "Palestrantes") quem são os 11 palestrantes do evento.</p>

<a class="inscricoes" href='@Url.Action("Inscricoes")'>CORRA E INSCREVA-SE!</a>

@_TwitterEvento.TwitterEvento()

@Html.Partial("_Contato")
