<h1>
    26 de Março: MVC Summit 2011</h1>
<p>
    Falta pouco! Dia 26 de março acontecerá o primeiro evento brasileiro 100% focado em ASP.NET
    MVC.</p>
<p>
    Serão @Html.ActionLink("duas trilhas", "Grade") somando mais de 15h de puro ASP.NET
    MVC. Do básico ao avançado, são conteúdos para todos níveis e perfis.</p>

<p>@Html.ActionLink("Confira aqui", "Palestrantes") os 11 palestrantes do evento.</p>

<a class="inscricoes" href='@Url.Action("Inscricoes")'>CORRA E INSCREVA-SE!</a>

@_TwitterEvento.TwitterEvento()

@Html.Partial("_Contato")
