<h1>
    Palestrantes</h1>
<ul class="palestrantes">
    <li>
        <img src='@Url.Content("~/images/palestrantes/alexandre_tarifa.jpg")' alt="Alexandre Tarifa" />
        <h2>
            Alexandre Tarifa</h2>
        <p>
            Ministra palestras e treinamentos, MVP (Most Valuable Professional), MCAD (Microsoft
            Certified Application Developer) e MCT (Microsoft Certified Trainer). Bacharel pela
            UMESP e pós-graduando pela Universidade Federal de São Carlos em Ciência da Computação.
            Analista de Sistemas e Líder do grupo de usuários Codificando.net São Paulo (sp.codificando.net).
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "alexandretarifa.com.br", "", "alexandretarifa" })
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/andre_baltieri.jpg")' alt="André Baltieri" />
        <h2>
            André Baltieri</h2>
        <p>
            Trabalha com desenvolvimento de aplicações web há mais de 9 anos, e com ASP.NET
            desde 2003. É líder da comunidade Inside .NET (http://www.insidedotnet.com.br/)
            e do Projeto Learn MVC (http://learn-mvc.net/). Bacharel em Sistemas de Informação,
            atualmente trabalha em projetos nacionais internacionais de grande porte com desenvolvimento
            de aplicações web em ASP.NET/C#. Ministra treinamentos e consultorias sobre a plataforma
            .NET.
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "weblogs.asp.net/andrebaltieri/", "andrebaltieri@hotmail.com", "andrebaltieri" })
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/nophoto.jpg")' alt="Bruno Kenj" />
        <h2>
            Bruno Kenj</h2>
        <p>
            Especialista em Desenvolvimento com tecnologia Microsoft, formado em Análise de
            Sistemas, atualmente é coordenador do Centro de Inovação Microsoft de Brasília (SENAI/DF).
            Possui 9 anos de experiência em desenvolvimento Web, com foco em Aplicações Corporativas,
            Padrões Web, SEO, ASP.NET e Javascript. Colaborador do Grupo de Usuários Microsoft
            BRASILDOTNET, tem atuado na comunidade profissional do DF apresentando palestras
            e workshops. Possui os seguintes títulos de Certificação Microsoft: MCP, MCAD, MCSD,
            MCTS, MCPD. Recentemente foi nomeado pela Microsoft como MVP ASP.NET.
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "brunokenj.net/blog/", "contato@brunokenj.net", "brunokenj" })
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/cleber_dantas.jpg")' alt="Cleber Dantas" />
        <h2>
            Cleber Dantas</h2>
        <p>
            Ministra palestras e mini-cursos, Editor da revista Codificando Magazine,MCAD e
            MCTS. Colaborador do Portal Linha de Código e IMasters. Atua com .NET desde 2003<br />
            <br />
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "cleberdantas.com", "", "cleberdantas" })
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/douglas_aguiar.jpg")' alt="Douglas Aguiar" />
        <h2>
            Douglas Aguiar</h2>
        <p>
            Douglas Aguiar é um desenvolvedor alucinado por tecnologia, atua como Líder de Desenvolvimento
            na Siteware. Se apaixonou a pouco tempo pelo ASP .NET MVC no qual dedica a maior
            parte do seu trabalho. Possui as certificações MCSD, MCTS, MCAD, MCT e PSD. É formado
            pela faculdade Fabrai no curso de Tecnologia em Processamento de Dados e aluno do
            MBA de Gestão Empresarial pelo Núcleo de Pós Graduação Pitágoras.
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "douglasaguiar.me/", "", "douglasaguiar" })
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/eduardo_cucharro.jpg")' alt="Eduardo Cucharro" />
        <h2>
            Eduardo Cucharro</h2>
        <p>
            Desenvolvedor Web, bacharel em Sistemas de Informação e pós graduado em Qualidade
            de desenvolvimento de software na FIAP – SP. Especialista de padrões web, JQUERY
            e ASP.NET MVC.
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "", "", "eduardocucharro" })
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/fabricio_sanchez.jpg")' alt="Fabrício Sanchez" />
        <h2>
            Fabricio Sanchez</h2>
        <p>
            Possui graduação em Ciência da Computação. Obteve título de mestre junto a USP campus
            São Carlos. Atualmente é aluno de doutorado e pesquisador na mesma instituição.
            É membro regular do SpeechLab (Laboratório de Processamento de Áudio e Voz) localizado
            no Instituto de Física de São Carlos. Atua na área de processamento digital de áudio
            e voz, especialmente baseado em wavelets aplicadas à inserção e extração de watermarks
            em sinais de áudio e fala, análise cepstral de sinais de fala e desenvolvimento
            de ferramentas computacionais aplicadas ao processamento digital de sinais. Atua
            como desenvolvedor web na UCB-IASD com C# e ASP.NET desde 2007. É fundador e administrador
            da comunidade .NET Interior.<br />
            <br />
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "fabriciosanchez.com.br", "", "sanchezfabricio" })
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/giovanni_bassi.jpg")' alt="Giovanni Bassi" />
        <h2>
            Giovanni Bassi</h2>
        <p>
            Giovanni Bassi é Microsoft MVP e Scrum Developer Trainer e Scrum Trainer pela Scrum.org.
            É certificado PSD, PSM II, e MCPD Enterprise (entre outras). É um dos fundadores
            da Lambda3, que atua com consultoria, projetos e treinamento, especialmente focada
            em desenvolvimento ágil. Dá palestras nos maiores eventos de agilidade e .Net do
            país e é professor universitário. Foi editor e já publicou dezenas de artigos na
            .Net Magazine, e agora faz parte do seu corpo editorial. Fundou e dirige o .Net
            Architects, maior grupo de estudos brasileiro sobre arquitetura de software focado
            na plataforma Microsoft. Trouxe os cursos oficiais da Scrum.org de Professional
            Scrum Developer e Professional ScrumMaster para o Brasil, e os oferece no site www.scrumdev.com.br.
            Seu blog é parte do blog da Lambda3. Seu twitter @@giovannibassi.
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "blog.lambda3.com.br/L3/giovannibassi/", "", "giovannibassi" })
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/pedro_reys.jpg")' alt="Pedro Reys" />
        <h2>
            Pedro Reys</h2>
        <p>
            Pedro Reys vive em Austin,TX nos EUA onde é consultor na Headspring. Desenvolve
            software profissionalmente desde 2002. Atua em projetos ágeis desde 2007 e atualmente
            é participante ativo dos grupos de usuários: Austin .Net User Group, Agile Austin,
            Lean Software Austin e DotNetArchitects.
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "pedroreys.com", "", "pedroreys" })
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/victor_cavalcante.jpg")' alt="Victor Cavalcante" />
        <h2>
            Victor Cavalcante</h2>
        <p>
            Victor Cavalcante é MVP, arquiteto de Software e agile coach atuando na Lambda3/Microsoft.
            Atua em projetos web a mais de 10 anos, um dos líderes do grupo .Net Architects,
            ministra cursos e realiza consultoria sobre boas práticas de desenvolvimento de
            software, pós-graduado em gerenciamento de projetos, professor universitário, certificado
            em Professional Scrum Developer, Certified Scrum Master, Certified Scrum Product
            Owner.
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "cavalcante.net", "victor@cavalcante", "vcavalcante" })
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/vinicius_quaiato.jpg")' alt="Vinicius Quaiato" />
        <h2>
            Vinicius Quaiato</h2>
        <p>
            Apaixonado por desenvolvimento de software gosta de boas práticas de arquitetura
            e testes e talvez por isso goste tanto de ASP.NET MVC. Atualmente trabalho na Gonow
            Tecnologia coordenando a área de desenvolvimento em plataforma .NET. Escreve para
            a maior revista de .NET do país, mantém um blog focado em plataforma .NET e enche
            o saco no twitter.
        </p>
        @Html.Partial("_ContatosPalestrante", new[] { "viniciusquaiato.com", "vinicius.quaiato@gmail.com", "vquaiato" })
    </li>
</ul>
